# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
.venv/

# Secrets and config
.streamlit/secrets.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Excel or DB files (if sensitive)
*.xlsx
*.db

# VSCode/IDE folders
.vscode/
.idea/
